{
  "env": {
    "dev": {
       "presets": ["@babel/preset-env"],
       "plugins":["transform-regenerator"]
     },
    "test": {
      "presets": ["@babel/preset-env"],
      "plugins" :
        [ "@babel/plugin-transform-runtime"]
    }
  }

}
